<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.hioa.recruiting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" >
        <activity 
            android:name=".activities.BaitActivity" 
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activities.AboutActivity" 
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".activities.ConnectionActivity" 
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
       	<activity 
            android:name=".activities.ConsoleActivity" 
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>